.background {
  /* background-color: var(--mantine-color-p4g-purple-8); */
  transition: background-color 0.3s ease-in-out;
}

.transitionOpacity {
  transition: opacity 0.3s ease-in-out;
}

.optionStar {
  position: absolute;
  z-index: -1;
  translate: 0 -50px;
  filter: brightness(0) saturate(100%) invert(71%) sepia(60%) saturate(7500%) hue-rotate(178deg) brightness(99%)
    contrast(102%);
  animation: pop-in-out 0.7s ease-in-out infinite;
  transition: opacity 0.3s ease-in-out;
}

@keyframes pop-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
