.background {
  background: #04001f;
  background: radial-gradient(circle, rgba(4, 0, 31, 1) 0%, rgba(56, 0, 211, 1) 100%);
}

/* .logo {
  filter: drop-shadow(0 0 30rem black);
  z-index: 0;
} */

.option {
  cursor: pointer;
  color: #0098fb;

  &:hover {
    color: white;
  }
}
