.fallingStarsWrapper {
  position: absolute;
}

.fallingStar {
  z-index: 0;
  opacity: 60%;
  animation: fall 1.5s linear infinite;
  position: absolute;
  filter: brightness(0) saturate(100%) invert(14%) sepia(96%) saturate(4550%) hue-rotate(285deg) brightness(111%)
    contrast(123%);
}

@keyframes fall {
  0% {
    top: -50vh;
  }
  50% {
    top: 50vh;
  }
  100% {
    top: 150vh;
  }
}
